body {
  font-family: 'Roboto', 'Raleway', sans-serif;
background-color: #ffffff;
}
:root {
  --brand-color: #2196f3;
  --brand-background-color: #2f303a;
  --brand-color2: #757575;
}
.link {text-decoration: none}
.header-web,
.footer-web {
  color: var(--brand-color);
}

.section1 {
  color: #ffffff;
  background-color: var(--brand-background-color);
}
.tittle {font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636363636;
letter-spacing: 0.06em;
    text-transform: uppercase;
  text-align: center}
.section4 {
  background-color: #f5f4fa;
}
.footer {
  background-color: var(--brand-background-color);
}

.address {
color: #fff;
font-style: normal;
    font-size: 14px;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
}
.address a {color: rgba(255, 255, 255, 0.6)}
.footer-contact {text-decoration: none}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--brand-color);
}
.header-web,
.footer-web {
  color: var(--brand-color);
}
.header-studio {
  color: #000;
}
.footer-studio {
  color: #fff;
}
.chapter {
  color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
    text-align: center;
}
.lorem-ipsum {
  color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.loremtext {
  color: var(--brand-color2);
    font-size: 14px;
    line-height: 24px;
}
.contacts a {
  color: var(--brand-color2);
font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
}
.contacts a:hover,
.contacts a:focus {
  color: var(--brand-color);
}
.nav a {
  color: #212121;
font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;}

.nav a:focus,
    .nav a:hover {
      color: var(--brand-color);
    }

.footer-web,
.footer-studio,
.header-web,
.header-studio {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.button1 {
  color: #fff;
  background-color: var(--brand-color);
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

}

.button2 {
  background-color: #f5f4fa;
  cursor: pointer;
font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    color: #212121;
    border-radius: 4px;
    border: none;
}
.button2:hover,
.button2:focus {
  background-color: var(--brand-color);
  color: #fff;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.name {font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;}
.category {font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--brand-color2);}
.person {font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: #212121;}
.job {font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: var(--brand-color2);}
    .ul {list-style: none}
